body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header-logo {
    height: 4em;
    width: 4em;
}

.message {
    background: white;
    max-width: 552px;
    margin: 50px auto 16px;
    padding: 32px 24px;
    border-radius: 10px;
    transition-duration: 1000ms;
    -webkit-transition-duration: 1000ms;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.12), 5px 6px 10px rgba(0, 0, 0, 0.24);
}

.message h2 {
    color: #FF9800;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

.message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

.message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

.mdl-layout {
    background: url("/res/background.jpg");
}

.mdl-layout__header {
    background: #2195F3;
}

@media (max-width: 600px) {

    body,
    .message {
        margin-top: 0;
        background: white;
        box-shadow: none;
        border-radius: 0;
    }
}